# Learn more about configuring your app at https://shopify.dev/docs/apps/tools/cli/configuration

client_id = "5b980b5264c5a1f5135d9c561da9c08d"
name = "techtron"
application_url = "https://techtron.onrender.com"
embedded = true

[build]
automatically_update_urls_on_dev = true

[webhooks]
api_version = "2026-04"

  [[webhooks.subscriptions]]
  topics = [ "app/uninstalled" ]
  uri = "/webhooks/app/uninstalled"

  [[webhooks.subscriptions]]
  topics = [ "app/scopes_update" ]
  uri = "/webhooks/app/scopes_update"

[access_scopes]
# Learn more at https://shopify.dev/docs/apps/tools/cli/configuration#access_scopes
scopes = "write_products,write_app_proxy,write_online_store_navigation"

[auth]
redirect_urls = ["https://techtron.onrender.com/auth/callback", "https://techtron.onrender.com/auth/shopify/callback", "https://techtron.onrender.com/api/auth/callback"]

[app_proxy]
url = "/api"
prefix = "apps"
subpath = "techtron"
